@page "/"
@using VRCDollyManager.Components
@using VRCDollyManager.Extensions
@using VRCDollyManager.Services
@inject IDollyFileWatcherService DollyService
@inject OscService OSC


<div class="app-frame-header">
    <h1>VRC Dolly Manager </h1>
    <button id="refresh" @onclick="RefreshButton" class="@(_onRefresh ? "refreshing" : "")">
        <Blazicon Svg="Lucide.RefreshCw"/>
    </button>
    <SearchBar OnSearch="OnFilterUpdate"/>
</div>
<div class="app-frame-content-container">
    <div class="app-frame-content">
        <div id="content" class="app-frame-row" style="flex-grow: 1; background: none;">
            <div class="app-table-container">
                <DollyTable @ref="@Table" Filter="@_filter" DollyList="_dollies" SelectedDolly="_selectedDolly"  
                            SelectedDollyChanged="OnSelect"  OnAddToDirector="OnAddToDirector" />
            </div>
            <div class="app-details-container">
                <DollySideContainer @ref="SidePanel" SelectedDolly="_selectedDolly"  />
            </div>
        </div>
    </div>
    <div class="app-frame-content">
        <div id="options" class="app-frame-row" style="background:none;">
            <button class="@(_relative ? "active" : "inactive")" @onclick="() => _relative = !_relative">
                <Blazicon Svg="@(Lucide.PersonStanding)"/>
                Relative
            </button>
            <button disabled="@(_selectedDolly == null)" @onclick="LoadDolly">
                <Blazicon Svg="@(Lucide.MonitorDown)"/>
                Load
            </button>
            <NotificationBar/>
            <div class="social-media">
                <OSCButton/>
                <LinkButton Icon="Lucide.Github" OnClick="@(() => BrowserHelper.OpenUrl("www.github.com"))"/>
                <LinkButton Icon="Lucide.Rabbit" OnClick="OpenAbout"/>
            </div>
        </div>
    </div>

</div>


<Modal @ref="About" Title="About">
    <ChildContent>
        <About/>
    </ChildContent>
</Modal>

@*<Modal @ref="Settings" Title="VRM Settings">

</Modal>*@